---
layout: default
title: Academic Bowl
permalink: /teams/academic/
--- 
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/academic/2024 Academic Bowl FINAL.jpg " | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>CA-935th's Academic Team is a close-knit group that trains to answer Jeopardy-style questions from a variety of different categories. They compete in two
                competitions throughout the year. The first one, the brigade competition, is held at high schools across San Diego, and CA-935th's cadets are currently the 
                reigning champs! The second competition is the Joint Leadership and Academic Bowl (JLAB) nationals in Washington, D.C. The team has a variety of opportunities
                for recognition, including ribbons, medals, trophies, and Stillwell points for the unit. This year, c/2d Lt Kamryn Liu and c/TSgt Alyssa Zhou will be leading 
                CA-935th's Academic Bowl team to the championship! </p>
            <p>Below are some of our proudest achievements during the 2024-2025 School Year:</p>
            <p class="about_center">
                <b> Brigade Round 1 (September 18) - 1st Place</br>
                    Brigade Round 2 (October 9) - 1st Place</br>
                    Brigade Round 3 (October 23) - 1st Place</br>
                    Brigade Round 4 (November 13) - 1st Place</br>
                    Placed Second in SDUSD Brigade Academic League</br>
                    Both JLAB teams qualified for JLAB Level II</br>
                    Qualified for JLAB National Academic Championship</br>
                    Placed fourth out of top sixteen Air Force schools in the country</br>
                </b>
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for academicmember in site.academicmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/academic/" | prepend: site.baseurl }}{{ academicmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in academicmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ academicmember.name }}</h4>
            <h5 class="ctitle">{{ academicmember.position }}</h5>
            <p>{{ academicmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
