---
layout: default
title: Academic Bowl
permalink: /teams/academic/
--- 
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/academic/academic1819.jpg " | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>The Academic Team shows off its knowledge in competitions by racing to answer questions in a variety of different categories. They compete in brigade competitions at high schools in San Diego as well as the Joint Leadership and Academic Bowl (JLAB) nationals in Washington, D.C. The team has opportunities to win medals, Stillwell points, and a trophy from the brigade academic bowl and even more awards at JLAB nationals. This year, c/TSgt Raymond Sun will be leading CA-935th's Academic Bowl team to the championship!</p>
            <p>Below are some of our proudest achievements during the 2019-2020 School Year:</p>
            <p class="about_center">
                <b>Brigade Academic Bowl Championship: 1st Place</br>
                </b>
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for academicmember in site.academicmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/academic/" | prepend: site.baseurl }}{{ academicmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in academicmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ academicmember.name }}</h4>
            <h5 class="ctitle">{{ academicmember.position }}</h5>
            <p>{{ academicmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
