---
layout: default
title: Academic Bowl
permalink: /teams/academic/
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row centered">
        {% for academicmember in site.academicmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/academic/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in academicmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ academicmember.name }}</h4>
            <h5 class="ctitle">{{ academicmember.position }}</h5>
            <p>{{ academicmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
    </div>
</div>
