---
layout: default
title: Armed Fancy Drill Team
permalink: /teams/afdt/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/armed/Armed Fancy Drill Team 1920.jpg " | prepend: site.baseurl }}" alt="Armed Team Full Picture">
        </div>
        <div class="col-lg-6">
            <p>Armed Team requires a combination of strength, coordination, skill, timing, and consistency to perfect the movements
                that are taught. We work together as a family to teach all members of the team how to perform in sync with
                precision. It is required that incoming members of armed fancy drill team would learn how to be fearless,
                strong, and have a motivation to practice after school every day. Our instructors for the year of 19-20 will
                be c/2nd Lt EJ Buan and c/TSgt Tom Rufino.</p>
            <p>Below are some of our proudest achievements during the 2018-2019 School Year:</p>
            <p class="about_center">
                <b>Best Drill Platoon (Brigade):2nd Place</br>
                    Best Drilled Squadron (Brigade): 2nd Place</br>
                    Armed Fancy Full Team (Brigade): 2nd Place</br>
                    Armed Four Man (Brigade): 2nd Place</br>
                    Golden Bear Novice Sweepstakes</br>
                    Golden Bear Armed Four Man: 1st Place</br>

        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for armedmember in site.armedmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/armed/" | prepend: site.baseurl }}{{ armedmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in armedmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ armedmember.name }}</h4>
            <h5 class="ctitle">{{ armedmember.position }}</h5>
            <p>{{ armedmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
