---
layout: default
title: Awareness Presentation Team
permalink: /apt/
---
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/apt/APT team photo.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        
        <div class="col-lg-6">
            <p>Awareness Presentation Team (APT) consists of bright cadets passionate about spreading awareness to elementary/middle schoolers on several essential topics.
		    We recognize that kids around this age may begin encountering new issues in their daily lives. Our team creates interactive slideshows featuring fun skits 
		    and audience questions centered around a set of topics. 
                <p>Not only is APT beneficial to the kids we present to, but also allows us to help a community that has given so much to us while exploring public speaking. 
			APT encourages teamwork, communication, and most importantly, pride in what we are able to accomplish. This year, APT is being led by c/2d Lt
			Siri Chiruta, c/2d Lt Kaitlyn Ly, and c/TSgt Zoya Qureshi.</a></p> <br>
			<h4>For more APT media find us on
				<a href="https://www.instagram.com/srhs_afjrotc_apt/?hl=en">Instagram</a>!</h4>
	 </p> </br>
<p></p>Below are some of our proudest achievements during the 2024-2025 School Year:</p>
			<b>Jerabek Elementary (11/7)</br>
			Audience: 5th grade classes</br>
			Topics: Internet safety, growing up, social awareness</br>
</br>
			Ellen Browning Scripps (11/13)</br>
			Audience: 4th and 5th grade classes</br>
			Topics: Leadership </br>
</br>
			Ocean Beach (12/4) </br>
			Audience: 3rd and 4th grade classes</br>
			Topics: Empathy, how to apologize & show kindness, being polite & using manners, 
				how to listen, internet safety & what’s appropriate online</br>
</br>
			Sandburg Elementary (2/19)</br>
			Audience: 3rd, 4th, and 5th grade classes</br>
			Topics: Cyberbullying, bullying, and friendships</br>
 </br>
			Dingeman Elementary (3/5)</br>
			Audience: 4th and 5th grade classes</br>
			Topics: Transition into middle school, self and social awareness</br>
</br>	 
			Cubberly Elementary (3/13)</br>
			Audience: TK, 1st, and 2nd grade classes</br>
			Topics:  Kindness and empathy</br>
				</b>
</br>
			Torrey Pines Elementary (3/26)</br>
			Audience: 4th grade classes</br>
			Topics: Positive traits, treating ourselves, treating others, how to teach others positivity</br>
				</br>
</br>
			Hearst Elementary (4/17)</br>
			Audience: 5th grade classes</br>
			Topics: Transition into middle school</br>
				</br>
</br>
			Pacific Beach (4/17)</br>
			Audience: 2th grade classes</br>
			Topics: Teamwork, impermanence, positivity</br>
				</br>

			
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
<h2>APT Videos</h2>
            <div class="col-lg-4">
		<iframe src="https://www.youtube.com/watch?v=3aaD6jBHne0" width="100%" height="250" frameborder="0" allowfullscreen></iframe>
        </div>
		</div>
<! --/col-lg-8 -->
<div class="col-lg-4">
<h2>Wiggles Weekly</h2>
            <div class="hline"></div>
<h4>For all the Wiggles Weekly episodes, please visit our
				<a href="https://drive.google.com/drive/folders/1GOOo3TSQO_AhiaUGghMdHX_UkJYZiawU?usp=sharing">collection</a> !</h4>
 </div>
	<! --/col-lg-4 -->
 </div>
    <! --/row -->
</div>
<! --/container -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4">
<img src="/assets/img/teams/apt/apt.jpg" alt="Image 1" style="width: 100%;">
                </div>
	    <! --/col-lg-4 -->
                <div class="col-lg-4">
                    <img src="/assets/img/teams/apt/apt.png" alt="Image 2" style="width: 100%;">
                </div>
	    <! --/col-lg-4 -->
	<div class="col-lg-4">
		<iframe src="https://drive.google.com/file/d/1U95YGrztxYX_TmVQKz3HyLSQLTPgi9HM/preview" width="100%" height="250" frameborder="0" allowfullscreen></iframe>
        </div>
	<! --/col-lg-4 -->
 </div>
    <! --/row -->
</div>
<! --/container -->

<div class="container mtb">
    <div class="row centered">
        {% for aptmember in site.aptmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/apt/" | prepend: site.baseurl }}{{ aptmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in aptmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ aptmember.name }}</h4>
            <h5 class="ctitle">{{ aptmember.position }}</h5>
            <p>{{ aptmember.text }}</p>
            <div class="hline"></div>
            <br>
	</div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>	
