---
layout: default
title: Awareness Presentation Team
permalink: /apt/
---
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/apt/AwarenessPresentation2024.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        
        <div class="col-lg-6">
            <p>Awareness Presentation Team (APT) consists of bright cadets passionate about spreading awareness to elementary/middle schoolers on several essential topics.
		    We recognize that kids around this age may begin encountering new issues in their daily lives. Our team creates interactive slideshows featuring fun skits 
		    and audience questions centered around a set of topics. 
                <p>Not only is APT beneficial to the kids we present to, but also allows us to help a community that has given so much to us while exploring public speaking. 
			APT encourages teamwork, communication, and most importantly, pride in what we are able to accomplish. This year, APT is being led by c/2d Lt.
			Kaitlyn Ly, c/2d Lt. Sonakshi Kanakala, and c/TSgt Siri Chiruta. You can find our Instagram <a href="https://instagram.com/srhs_afjrotc_apt?igshid=1wvnfjdlehhvq">here</a></p>
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for aptmember in site.aptmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/apt/" | prepend: site.baseurl }}{{ aptmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in aptmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ aptmember.name }}</h4>
            <h5 class="ctitle">{{ aptmember.position }}</h5>
            <p>{{ aptmember.text }}</p>
            <div class="hline"></div>
            <br>
	</div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>	

	
<div class="col-lg-8 col-lg-offset-2 centered">
<h2>Awareness Presentation Team</h2>
			<div class="hline"></div>
			<h4>For more APT info find us on
				<a href="https://www.instagram.com/srhs_afjrotc_apt/?hl=en">Instagram</a> !</h4>
		</div>
	</div>
</div>

<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>


<div class="container">
	<div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
    
  <div class="column">
    <img src="/assets/img/teams/apt/IMG_2772 (1).jpg" alt="" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/img/teams/apt/IMG_4580 (1) (1).jpg" alt="" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/img/teams/apt/IMG_4573 (1).jpg" alt="" style="width:100%">
  </div>
</div>
<p>
		
</body>
</html>
</div>
