---
layout: default
title: Bravo Flight
permalink: /bravo/
---
{% include wrap.html %}

<div class="container mtb">    
    <div class="row">
        <div class="col-lg-6">
            <h4>Bravo Flight Commander: Jackeline Du </h4>
            <p>
                <a href="mailto: jaqqiedu8@gmail.com"><b>Email Address: </b>jaqqiedu8@gmail.com</a><br>
                <b>Phone Number: </b>(858)-397-8028<br>
            Hi! I’m c/2d Lt Jackeline Du or Jackie/Jaqqie Du and I’m your 2023-2024 Bravo Flight Commander! This school year, I am a 3rd year RO member and a soon-to-be an exhausted junior. In terms of activities, I am involved in the unit’s Saber Fancy Drill Team and a Falcon Peer Mentor for the school. You’ll often find me listening to music on Discord, playing Roblox, or randomly dancing. Other fun facts about me are that my zodiac sign is Cancer, my mbti is INFP, and I’m Vietnamese and Chinese. I’m excited for everyone to enjoy another year of RO, where more opportunities await for you to be involved, shine, learn, and make new friends. Feel free to talk to me about questions or for the purpose of getting to know each other. I hope I can be a good RO student, mentor, and friend to you all!
            /p>
        </div>
        <div>
            <h4>Bravo Flight Sergeant: Ellie Huang </h4>
            <p>
                <a href="mailto:elliehng08@gmail.com "><b>Email Address: </b>elliehng08@gmail.com </a><br>
                <b>Phone Number: </b>(619) 677 0378<br>
                Hi! I’m c/TSgt Ellie Huang, but most people call me Evi; I’ll be your Bravo Flight Sergeant this year. :) I’m a sophomore this year, and it’ll also be my second year in ROTC! Even though I only joined this program to get out of PE like many others, I grew to really enjoy it. ROTC allowed me to meet so many amazing people and make friends, as well as helping me grow as a leader! Outside of ROTC, I really enjoy anything art related; like painting, crocheting, etc! (If you’re cool you should join my crochet club; the Yarn Barn wink wink). I also looove music; if you listen to beabadoobee, I love you. I’ll also love you forever if you play roblox with me <3 I’m always open to talk, and I hope we can be friends! Let’s all work hard together this year!
            </p>
       </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for bravomember in site.bravomembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/operations/" | prepend: site.baseurl }}{{ bravomember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in bravomember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ bravomember.name }}</h4>
            <h5 class="ctitle">{{ bravomember.position }}</h5>
            <p>{{ bravomember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
