---
layout: default
title: Color Guard
permalink: /teams/cg/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/colorguard/Colorguard2024.jpg " | prepend: site.baseurl }}" alt="Color Guard Full Picture">
        </div>
        <div class="col-lg-6">
            <p>Color Guard is a ceremonious team consisting of 2 - 3 flag bearers and 2 riflemen. Throughout the school year, we present the colors and numerous
                community and school events. Our color guard was the number one color guard in SDUSD, placing first in the varsity category and 2nd in the 1st year
                category at the brigade drill competition. In the 2017-2018 school year the varsity color guard was chosen to compete at the national level in 
                Daytona Florida. This year the team is led by c/2d Lt Kai Tomasyk and c/TSgt Maya Rudi, Whose goals are to prepare the team for success and keep
                the title as number on color guard in the brigade.</p>
            <p>Below are some of our proudest achievements during the 2020-2021 School Year:</p>
            <p class="about_center">
                <b>Color Guard Varsity (Brigade): 1st Place<br>
                    Color Guard 1st Year (Brigade): 2nd Place<br>
                    Color Guard Varsity (Sweetwater Drill Meet): 1st Place<br>
                    Color Guard Varsity (Golden Bear West Coast Nationals): 3rd Place<br>

        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for cgmember in site.cgmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/colorguard/" | prepend: site.baseurl }}{{ cgmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in cgmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ cgmember.name }}</h4>
            <h5 class="ctitle">{{ cgmember.position }}</h5>
            <p>{{ cgmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
