---
layout: default
title: CyberPatriot
permalink: /cyberpatriot/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/cyberpatriot/CyberPatriots.jpg
                " | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>CyberPatriot is the National Youth Cyber Education Program. At the center of CyberPatriot is the National Youth
                Cyber Defense Competition. The competition puts teams of high school and middle school students in the position
                of newly hired IT professionals tasked with managing the network of a small company. In the rounds of competition,
                teams are given a set of virtual images that represent operating systems and are tasked with finding cybersecurity
                vulnerabilities within the images and hardening the system while maintaining critical services in a four hour
                period. Teams compete for the top placement within their state and region, and the top teams in the nation
                earn all-expenses paid trips to Bethesda, MD for the National Finals Competition where they can earn national
                recognition and scholarship money.​ This year, Cyber Patriot is led by c/2ndLt Veer Chopra and c/TSgt Aarav Maheshwari.
                <br>
            </p>
            <p>Below are some of our proudest achievements over the past years:</p>
            <p class="about_center">
                <b>Varsity wins first place in All Service Division national finals! 2021-2022 School Year</br>
                Junior Varsity and Novice semifinalists for All Service Division </br>
                3rd place SoCal Cyber Cup </br>
                <br> National Champions of Air force Division 2022-2023! </br>
            </b>
            
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->

<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>OUR SPONSORS</h3>
            {% for sponsor in site.sponsors %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="{{ "/assets/img/sponsors/" | prepend: site.baseurl }}{{ sponsor.img }}" class="img-responsive">
            </div>
            {% endfor %}
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div>
<! --/cwrap -->
<div class="container mtb">
    <div class="row centered">
        {% for cyberpatriotmember in site.cyberpatriotmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/extracurriculars/cyberpatriot/" | prepend: site.baseurl }}{{ cyberpatriotmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in cyberpatriotmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ cyberpatriotmember.name }}</h4>
            <h5 class="ctitle">{{ cyberpatriotmember.position }}</h5>
            <p>{{ cyberpatriotmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
