---
layout: default
title: Education
permalink: /education/
---
{% include wrap.html %}

<div class="container mtb">
    <h3> Visit the
        <a href="https://educationafjrotc.github.io/ca935theducation/" target="_blank"> Education Website</a> for information on what we do! </h3>
    <div class="row">
        <div class="col-lg-6">
            <br>
            <p>For many people, financial aid is an important factor in considering what college they will go to or even if they will go to college. Without financial aid, 
                many struggle to support themselves financially and mentally. According to Fox Business, 42% of college students drop-out due to a lack of financial aid and 
                stability. Therefore, our aim is to support and help students receive proper aid to make college more affordable. Education is run by c/2dLt Mia Canales and 
                c/TSgt Bowie Murthy, we find scholarships and academic opportunities for cadets. We regularly post reliable scholarships to help students receive the financial
                aid they need and deserve.
</p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for educationmember in site.educationmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/extracurriculars/Education/" | prepend: site.baseurl }}{{ educationmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in educationmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ educationmember.name }}</h4>
            <h5 class="ctitle">{{ educationmember.position }}</h5>
            <p>{{ educationmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
