---
layout: default
title: Files and Syllabi
permalink: /files/
---

{% include wrap.html %}
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-20">
                <a href="https://drive.google.com/open?id=0B-MNfsPFO-NqQVJYaGZBTVNtZXc" target="_blank"" class="btn btn-primary btn-cta"> Cadet Handbook</a>
                <a class="btn btn-primary btn-cta" href="https://drive.google.com/open?id=0B-MNfsPFO-NqUkdTcXE1Qnh4QWM" target="_blank"> Drill & Ceremonies</a>
                <a class="btn btn-primary btn-cta" href="https://drive.google.com/open?id=0B-MNfsPFO-NqNm5UVGdNYk83RGc" target="_blank"> UYP Syllabus</a>
                <a class="btn btn-primary btn-cta" href="https://drive.google.com/open?id=0B-MNfsPFO-NqOXNxbGdEbTlDTW8" target="_blank"> LE-400 Syllabus</a>
                <a class="btn btn-primary btn-cta" href="https://drive.google.com/open?id=0B-MNfsPFO-NqYThPRGd5SEV2Nms" target="_blank"> A Journey Into Aviation History – Spring 2017 Syllabus</a>
                <br>
                <br>
                <a class="btn btn-primary btn-cta" href="https://drive.google.com/open?id=0B-MNfsPFO-NqWG1iTkVKeDJBcTg" target="_blank"> An Introduction into Global Awareness in Africa – Spring 2017 Syllabus</a>
            </div>
        </div><! --/container -->
    </div><! --/service -->
{% include gallery.html title="LATEST WORKS" limit=10 %}
</div><! --/row -->
</div><! --/container -->
