---
layout: default
title: Flag Detail
permalink: /teams/flagdetail/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/flagdetail/flagdetailfullteam1920.jpg " | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>Flag Detail is a team that holds the responsibility to honor the United States and California flags. Everyday,
                we respectfully raise the flags every morning and lower them every afternoon. In this team, we will teach
                each member the ceremonial duties of raising and lowering of the flag for important events. This team is
                lead by c/2nd Lt Eric Kye and c/TSgt Lea Chanthaluxay. We both hope to see you all on team next year.</p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for flagdetailmember in site.flagdetailmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/teams/flagdetail/" | prepend: site.baseurl }}{{ flagdetailmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in flagdetailmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ flagdetailmember.name }}</h4>
            <h5 class="ctitle">{{ flagdetailmember.position }}</h5>
            <p>{{ flagdetailmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
