---
layout: default
title: Foxtrot Flight
permalink: /foxtrot/
---
{% include wrap.html %}

<div class="container mtb">    
    <div class="row">
        <div class="col-lg-6"> 
            <h4>Foxtrot Flight Commander: Zoya Qureshi </h4>
            <p>
                <a href = "mailto: 20zoyaq09@gmail.com"><b>Email: </b>20zoyaq09@gmail.com</a><br>
                <b>Phone Number: </b>(858) 305-1993</br>
                Hi everyone!! I’m c/2d Lt Zoya Qureshi, and I am so excited to serve as your Foxtrot Flight Commander (and APT Commander) 
            for the 2026-2027 academic year! As a junior entering my third year of JROTC, I can’t believe it’s already been more than half 
            of my high school journey. The friends I’ve met, memories I’ve made, and support I’ve received in RO have truly made time fly by. 
            During my time in RO so far, I’ve been a part of YPF, Raiders, SFDT, and APT, all of which have helped me find my place in RO. 
            I’m also a part of Mock Trial and SWEAR, two amazing clubs you should totally check out :D The biggest piece of advice I could 
            give you is to spread your wings and try your hand at something new! RO and SRHS offer a club or team for just about everyone, so 
            take advantage of it! High school is your time to discover who you are, so don’t be afraid to try out for a new team, attend a club 
            meeting, or talk to a new person! Of course, this is always easier said than done, so if you ever need a pep-talk or just someone 
            to talk to, please don’t hesitate to reach out! My DMs are always open :) My super duper cool sergeant Gavin and I can’t wait to 
            serve as your flight staff, so get ready to have the most amazing, exciting, and memorable year ever in Foxtrot Flight!!


            </p>
        </div>
        <div class="col-lg-6">
            <h4>Foxtrot Flight Sergeant: Gavin Guo </h4>
            <p>
                <a href = "mailto: gaving1181@gmail.com"><b>Email: </b>gaving1181@gmail.com</a><br>
                <b>Phone Number: </b>(757)-658-3901<br> 
                Hello guys! I am c/TSgt Gavin Guo, and I'll be the Foxtrot Flight Sergeant for the 2026-2027 school year. I am a sophomore 
                and was originally a PE-recruit. Through my time in CA-935th, I have participated in the Saber Team, Logistics, and Kitty 
                Hawk. Something that I like about RO are all of the unique drill and special teams. The unit captures all types of fun and 
                interesting people that make everyday a fun and lasting experience. Being involved in a program like JROTC really makes 
                your days at school go by super fast. One piece of advice that I have, for everyone in the program, is to try out for every 
                team that you show the slightest bit of interest in. Outside of RO, I like to run recreationally, play badminton, and scroll 
                reels. I am also in the Nature Conservation Association club, so join up for the community service hours. If there is 
                something that you have to know about me, it would be that my bearing sucks. I am also an ISFP-T. GUIDONNN. My super duper 
                cool commander Zoya and I are so excited to be your flight staff this year!


            </p>
       </div>
    </div>
     <br>
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/operations/Foxtrot26.JPG" | prepend: site.baseurl }}" alt="Foxtrot Flight Full Picuture">
        </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for foxtrotmember in site.foxtrotmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/operations/" | prepend: site.baseurl }}{{ foxtrotmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in foxtrotmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ foxtrotmember.name }}</h4>
            <h5 class="ctitle">{{ foxtrotmember.position }}</h5>
            <p>{{ foxtrotmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
