---
layout: default
title: Golf Flight
permalink: /golf/
---
{% include wrap.html %}

<div class="container mtb">    
    <div class="row">
        <div class="col-lg-6">
            <h4>Golf Flight Commander: Jadelynn Doan </h4>
            <p>
                <a href="mailto: sonakshikanakala@gmail.com"><b>Email: </b>jadelynnd2009@gmail.com</a> <br>
                <b>Phone Number: </b>(858) 500-2111<br>
                Hihi everyone!! I am c/2d Lt Jadelynn (Jade) Doan, and I will be your Golf Flight Commander for the 
                2025-2026 school year! I am a junior, and for the past two years I have been in this program, I have 
                been involved in Saber Team, Flag Detail, Logistics, Public Affairs, and APT. The thing I love about 
                being a part of CA-935th is the fact that you get to meet so many different people, making long-lasting 
                connections for the rest of high school or even beyond :)) One piece of advice from me, whether you are 
                a first year in the program or not, is that it’s never too late to step out of your comfort zone and try 
                something new. There are a TON of opportunities in RO (such as drill teams like saber wink wink), so 
                take the shot if there is something that interests you! Some fun facts about me are that I was the Flag 
                Detail NCO last year in addition to a Flight Sergeant, my MBTI is ESFP-A, I was a choir kid for 5 years, 
                my favorite color is blue, and I am a big back >:) In my free time, I enjoy listening to music (I’m almost 
                always on Spotify listening to K-pop, J-pop, R&B, and more), gaming, singing, reading manga/webtoons, 
                making origami, and yapping. Alongside Ashley, I look forward to an awesome sauce school year with you all 
                <3 LET’S GO GOLFINGGG!!!

            </p>
        </div>
        <div class="col-lg-6">
            <h4>Golf Flight Sergeant: Ashley Kim </h4>
            <p>
                <a href="mailto: monicayschan@gmail.com"><b>Email: </b>ashleyjkimsd@gmail.com</a> <br>
                <b>Phone Number: </b>(858) 249-8764<br> 
                HELLOOOOOO!!!!!1! I’m c/TSgt Ashley Kim, and I will be your Golf Flight Sergeant for the 2025–2026 
                school year! I’m a sophomore, and this is my second year in the program. I originally joined because 
                of my best friend Aritri Banerjee, but I’m SO glad I did. Last year, I was involved in LG, Flag Detail, 
                and Color Guard (plsss try out for all of these!!) For first years, I strongly recommend trying out 
                for as many teams as you can. It helps you meet new people, build confidence, and find what you love. 
                RO has given me so much experience and growth, and I hope you will seize every opportunity that comes 
                your way. Outside of RO, I love listening to music (Laufey, Conan Gray, Mitski, Chappell Roan, Radiohead, 
                etc), singing in choir/with my friends (I was in choir and madrigals at MMS and if you talk to me about 
                anything choir i’m gonna yap + I’m in SDCC!), playing instruments, and being conjoined twins with Aritri. 
                At school, I’m involved in MUN, Science Olympiad, and I used to be in orchestra. A few fun facts: I’m an 
                identical twin (with the saber NCO lol), I play piano and double bass, and I’m an ISFP-T. I’m so excited 
                to meet all of you—whether you’re in Golf Flight or not! Don’t hesitate to reach out if you ever need 
                anything. I hope that Jade and I can make this year unforgettable! ♪(^∇^*)
 
       </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for golfmember in site.golfmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/operations/" | prepend: site.baseurl }}{{ golfmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in golfmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ golfmember.name }}</h4>
            <h5 class="ctitle">{{ golfmember.position }}</h5>
            <p>{{ foxtrotmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
