---
layout: default
title: Golf Flight
permalink: /golf/
---
{% include wrap.html %}

<div class="container mtb">    
    <div class="row">
        <div class="col-lg-6">
            <br>
            <p>Golf Flight Commander: Ryan Ong <br>
            r.ong40915@gmail.com<br>(858)-281-3816<br>What’s up gamers, I’m your Golf Flight Commander, c/2nd Lt Ryan Ong, and I’m so happy to be able to be with everyone this year. Quick info about me is that I’m a member of the Armed Fancy Drill  Team, Kitty Hawk Squadron, and SRHS Swim team. I was also previously on the Saber Team and both Logistics and Public Affairs. First I’d like to mention that I’m still a student and a human, so don’t be afraid to ask or tell me anything, I’ll always do my best to be there. Also despite my awkwardness I’m open to everybody. Although there’s still so much to say concerning JROTC, let’s save that for our future conversation. Let’s cherish this year and not waste any moment together and dw you are in good hands :). Have a good rest of your day!
</p>
            <br><br>
            <p>Golf Flight Sergeant: Russell Lee <br>
            russell7120@gmail.com<br>(858)-252-9028<br>Hi everyone! I’m c/TSgt Russell Lee, and I will be your Golf flight sergeant for the 2019-2020 school year! I am currently a sophomore at Scripps Ranch High and this is my second year in Scripps’s AFJROTC program. This program has taught me many valuable lessons in leadership, teamwork, and so many work important areas of life and I can’t wait to learn more from this year. Outside of school I like to watch netflix, watch sports (mostly basketball and football), play basketball, play the piano, and play the violin. If you ever need help with anything, have questions, or just want a friend to talk to, I’m always here for you! I promise I will do my absolute best this year to help you all grow and succeed in accomplishing whatever goals you wish to accomplish. I’m truly honored to serve as your Golf flight sergeant this year, and I can’t wait to get to know you all better and help you grow into the best people you can be!

</p>

       </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for golfmember in site.golfmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/operations/" | prepend: site.baseurl }}{{ golfmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in golfmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ golfmember.name }}</h4>
            <h5 class="ctitle">{{ golfmember.position }}</h5>
            <p>{{ foxtrotmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
