---
layout: default
title: Golf Flight
permalink: /golf/
---
{% include wrap.html %}

<div class="container mtb">    
    <div class="row">
        <div class="col-lg-6">
            <h4>Golf Flight Commander: Angie Dinh </h4>
            <p>
                <a href="mailto: adinh726@gmail.com"><b>Email: </b>adinh726@gmail.com</a> <br>
                <b>Phone Number: </b>858-349-3098<br>
                What’s up Falcons! I’m c/2d Lt Angie Dinh (you’re forbidden to call me by the govvy) and I’ll be your Golf Commander this year! I’m a junior and this is my third year in AFJROTC. I’m a part of our Unarmed Fancy Drill Team, Kitty Hawk, and formerly Logistics. Our JROTC program here at SRHS is a great opportunity for your high school career, as you’ll be able to join extracurriculars, have easy access to scholarships, develop leadership skills, as well as finding a place to call home :). I almost know the in’s and out’s of the school and RO, so feel free to ask me any questions! Besides slaving away at my AP’s, some things I do are play unhealthy amounts of Roblox and Overwatch, bake sometimes, spend more money than I actually have, and everything else is a secret! I’m slightly chronically online, so feel free to reach out to me via Discord or Instagram, I’ll probably respond in under an hour unlike your teachers.
            </p>
        </div>
        <div class="col-lg-6">
            <h4>Golf Flight Sergeant: Tanisi Chauhan </h4>
            <p>
                <a href="mailto: tanisichauhan10@gmail.com"><b>Email: </b>tanisichauhan10@gmail.com</a> <br>
                <b>Phone Number: </b>(858) 366-5111<br> 
                What up people?? I’m c/TSgt Tanisi Chauhan and I’ll be your Golf Flight Sergeant for 23-24. This is my second year at Scripps and in RO and I’m so excited to get the most out of this year :)) I’m part of RO’s Color Guard and our Awareness Presentation Team..SO YOU SHOULD JOIN BOTH THOSE TEAMS!!!!! Other than RO, you can find me at the tennis courts playing for Scripps’ JV team (!!) and struggling with bio and euro (*nervous laughter*)  Most people in RO know me as the girl that lives off of BTS (ARMY come find me <33), the sky (i LOVE clouds and sunlight- check my ig lol), and random laughs (you’d be surprised how much there is to laugh about :P) I’m hyped for this year and I want y’all to be hyped too…so feel free to ask me questions or just talk abt anything. anywhere. anytime. Oh and just so you know, I only bite on sundays, so y’all should be good to go around me during school hehehehe. Let’s make this year count, Falcons!
            </p>
       </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for golfmember in site.golfmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/operations/" | prepend: site.baseurl }}{{ golfmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in golfmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ golfmember.name }}</h4>
            <h5 class="ctitle">{{ golfmember.position }}</h5>
            <p>{{ foxtrotmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
