---
layout: default
title: Hotel Flight
permalink: /hotel/
---
{% include wrap.html %}

<div class="container mtb">    
    <div class="row">
        <div class="col-lg-6">
            <h4>Hotel Flight Commander: Isabella Nguyen </h4>
            <p>
                <a href="mailto: isabellanguyen.10.26.2@gmail.com"><b>Email: </b>isabellanguyen.10.26.2@gmail.com</a> <br>
                <b>Phone Number: </b>858-248-3266<br>
                Hoi Hoi. I’m c/2d Lt Isabella Nguyen and I’ll be your Hotel Flight Commander for 2024-2025! This will be my 
                third year in AFJROTC, and I’m also a junior, so let’s just say I’m not excited about my class workload. It’s
                crazy how much you can change in just 3 years; I was initially hesitant to join AFJROTC because I thought I 
                would have to do sweaty military obstacle courses (we don’t do that). After a friend encouraged me to join 
                though, I’ve loved AFJROTC ever since. If it weren’t for my friends and the amazing upperclassmen I’ve met, 
                I know I wouldn’t be here writing this fun bio for you today! That’s why I can’t wait to get to know you all 
                this year ^^! Some of the teams I’ve been on include Kitty Hawk, Logistics, APT, and UFDT. Some of my hobbies 
                outside of school include piano, digital art, and listening to music (favorite artists include The Marias, 
                Cafune, Men I Trust, LDR, beabadobee, Laufey, TV Girl, and Tame Impala). I’m also the Red Cross Outreach 
                Chair, so if you have any Red Cross related questions or inquiries, definitely ask me (join Red Cross)! I’m 
                also an INTJ-T / ENTJ-T (idk which one I am anymore), Scorpio, and Slytherin. Don’t be afraid to shoot a DM or 
                talk to me randomly, I love talking to you guys and I’m like 90% of the time chronically online. 
        </div>
        <div class="col-lg-6">
            <h4>Hotel Flight Sergeant: Shayne Maddox </h4>
            <p>
                <a href="mailto: smadman4811@gmail.com"><b>Email: </b>smadman4811@gmail.com</a> <br>
                <b>Phone Number: </b>858-305-9928<br> 
                Howdy hey! I’m c/TSgt Shayne Maddox, and I’ll be your Hotel Flight Sergeant, as well as your Awards NCO. 
                I am a sophomore, and it’s my 2nd year in the program. Last year I was heavily involved in Color Guard 
                (join if you want to be goated in RO), the Logistics squadron, and our lovely and fit Youth Physical Fitness 
                Team. I found myself becoming extremely attached to this unit that resembles a second home and I see everyone
                as part of our big family. Our unit has a handful of opportunities so don’t worry about possibly not finding 
                a place in this corps! When I’m taking my time off of RO duties, I usually play outside casually, go out on 
                runs, and do typical weeb stuff (anime, manga, youtube, you get it) so please don’t hesitate to bother me on 
                discord or in-person. I’d be glad to talk with you guys, and I’ll be here for anything yall are concerned 
                about. Hope you’ll find a place in RO and enjoy these quick years in high school!
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for hotelmember in site.hotelmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/operations/" | prepend: site.baseurl }}{{ hotelmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in hotelmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ hotelmember.name }}</h4>
            <h5 class="ctitle">{{ hotelmember.position }}</h5>
            <p>{{ hotelmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
