---
layout: default
title: Kitty Hawk Air Society
permalink: /kittyhawk/
---
{% include wrap.html %}

<div class="container mtb">
	<div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/teams/kittyhawk/KittyHawk2024.jpg " | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <br>
            <p>Kitty Hawk Air Society is a national AFJROTC honor society that recognizes academic and military achievement, provides leadership and educational opportunities,
		    and encourages excellence. What it means to CA-935th is all that and more! To us, Kitty Hawk is a group of people who want to make an impact. Our goal is
		    to guide cadets through their academic struggles. We will train and educate our squadron, to offer peer tutoring and assistance to cadets in need. This year, 
		    our team is led by c/2dLt Mia Canales, c/2dLt Harini Sreeraman, and c/TSgt Annalisa Boquiren. We’re so excited to start this school year and meet our new cadets!</p>
		<p> Visit the
        <a href="https://srhskittyhawk.com/" target="_blank"> Kitty Hawk Website</a> for more information on Kitty Hawk tutoring. </p>
				<br><br>
				
				
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for kittyhawkmember in site.kittyhawkmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ " /assets/img/teams/kittyhawk/" | prepend: site.baseurl }}{{ kittyhawkmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in kittyhawkmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a> 
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ kittyhawkmember.name }}</h4>
            <h5 class="ctitle">{{ kittyhawkmember.position }}</h5>
            <p>{{ kittyhawkmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
