---
layout: default
title: Saber Fancy Drill Team
permalink: /teams/sfdt/
---
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" style="max-width:100%;" src="{{ " /assets/img/teams/saber/Saber2024.jpg " | prepend: site.baseurl }}" alt="Saber Team Full Picture">
        </div>
        <div class="col-lg-6">
            <p>Saber Team is a group of our unit’s finest drillers, wielding not rifles but swords. Saber combines the hallmarks of all fancy drill teams. It features complex 
                formations and rhythmic movements, but is also involved in other school events. Members work to efficiently, effectively, and consistently sharpen their skills 
                in both exhibition and regulation drill. All team members are instructed by our team leads for this year, c/2d Lt Bella Phan and c/TSgt Daniel Yang. Cadets are 
                expected to uphold the utmost level of discipline, coordination, and performance so the team is always competition worthy. </p>
            <p>Below are some of our proudest achievements during the 2023-2024 School Year:</p>
            <p class="about_center">
                <b> Armed Overall (Fontana): 1st Place<br>
                    Saber Regulation (Golden Bear): 1st Place<br>
                    Saber Exhibition (Golden Bear): 1st Place<br>
                    Saber Sweepstakes (Golden Bear): 1st Place<br>
                    Saber Four-Man (Golden Bear): 1st Place<br>
                    Saber Dual (Golden Bear): 1st Place<br>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for sabermember in site.sabermembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/saber/" | prepend: site.baseurl }}{{ sabermember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in sabermember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ sabermember.name }}</h4>
            <h5 class="ctitle">{{ sabermember.position }}</h5>
            <p>{{ sabermember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
