---
layout: default
title: Stellar Xplorers
permalink: /stellar/
--- 
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/extracurriculars/2024 Stellar Explorers.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>Stellar Xplorers is a team that competes in the StellarXplorers National Space Design Competition over the course of 4 months, 
				at the very least. There are two types of rounds, Practice and Qualification Rounds. Points gained from Qualification Rounds 
				contribute to the team’s overall score and will be the deciding factor on whether they progress into the Semi-Finals or not. 
				Challenges include scenarios based on orbital mechanics and data analysis, which test skills in problem-solving, collaboration, 
				and other areas. Over the past 6 years, our unit has triumphed in the Semi-Final and Final rounds. This year, c/2d Lt Heather 
				Ngo and c/TSgt Sarah Zheng will lead the team to strive for a place in the Finals!              
		<p>Below are some of our proudest achievements during the 2024-2025 School Year:</p> 
            <p </br></b>Qualification Round 1 (Nov. 3) - All three teams placed in the top 200 teams, Varsity taking 77th place nationally </br>
		Qualification Round 2 (Dec. 8) - All three teams placed in the top 150 teams, Varsity taking 39th place nationally </br>
		Qualification Round 3 (Jan. 25) - All three teams placed in the top 150 teams, JVA taking 17th place nationally </br>
		Junior Varsity A and Junior Varsity B both qualified for the Semi-Final Round (Feb. 14)</br>
		
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for stellarmember in site.stellarmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/stellarx/" | prepend: site.baseurl }}{{ stellarmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in stellarmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ stellarmember.name }}</h4>
            <h5 class="ctitle">{{ stellarmember.position }}</h5>
            <p>{{ stellarmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
