---
layout: default
title: Stellar Xplorers
permalink: /stellar/
--- 
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/stellarx/Stellar Xplorers.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>Stellar Xplorers is a STEM-oriented team that competes in rounds of Problem Solving and Data Analysis within scenarios built aro
		    und orbital mechanics and the aerospace industry. Our unit’s program has been getting off the ground over the past 5 years but
		    has already seen success in the semi-final and final rounds. This year, led by c/2nd Lt Calvin Corbett and c/TSgt Abheek Somchaudhuri, promises 
		    to bring our team even further towards the top, placing the goal post firmly inside the semi-finals. For anyone interested in 
		    aerospace engineering, systems engineering, data science, computer science, and much more, Stellar Xplorers offers invaluable 
		    training, experience, and a team to call your own.             
		<!-- <p>Below are some of our proudest achievements during the 2021-2022 School Year:</p> 
            <p class="about_center">
                <b>Varsity/Junior Varisty Semifinalists</br>
                </b> -->
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for stellarmember in site.stellarmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/stellarx/" | prepend: site.baseurl }}{{ stellarmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in stellarmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ stellarmember.name }}</h4>
            <h5 class="ctitle">{{ stellarmember.position }}</h5>
            <p>{{ stellarmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
