---
layout: default
title: Stellar Xplorers
permalink: /stellar/
--- 
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ " /assets/img/extracurriculars/2024 Stellar Explorers.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>Stellar Xplorers is a STEM-oriented team that competes in rounds of Problem Solving and Data Analysis within scenarios built around 
		    orbital mechanics and the aerospace industry. Our unit’s program has been getting off the ground over the past 5 years but
		    has already seen success in the semi-final and final rounds. This year, team leads c/2d Lt Sofia Danylova, c/2d Lt Calvin Corbett,
		    and c/TSgt Heather Ngo, promise to bring our team even further towards the top, placing the goal post firmly inside the 
		    semi-finals. For anyone interested in aerospace engineering, systems engineering, data science, computer science, and much more, 
		    Stellar Xplorers offers invaluable training, experience, and a team to call your own.             
		<p>Below are some of our proudest achievements during the 2021-2022 School Year:</p> 
            <p </br></b>Qualifying Round 1 (October 26) - All 3 teams placed in the 200 teams, with Varsity taking 18th place nationally</br>
		Qualifying Round 2 (December 3rd) - All 3 teams Placed in the top 200 teams with JV 1 taking 94th place nationally</br>
		Qualifying Round 3 (January 27th) - All 3 teams placed in the top 150 teams, with JV 2 taking 34th nationally</br>
		All 3 teams placed in the top 150 teams overall with Varsity taking a final spot of 17th place. </br>
		</br>Junior Varsity and Varsity both qualified to the national semifinals </b>
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for stellarmember in site.stellarmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/stellarx/" | prepend: site.baseurl }}{{ stellarmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in stellarmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ stellarmember.name }}</h4>
            <h5 class="ctitle">{{ stellarmember.position }}</h5>
            <p>{{ stellarmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
