---
layout: default
title: Teams
permalink: /teams/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <center>
            <img class="img-responsive" src="{{ " /assets/img/teams/teamsquadron.jpg " | prepend: site.baseurl }}" alt="">
        </center>
    </div>
</div>
<! --/row -->
<div class="container mtb" <div class="row">
    <center>
        <p>There are five drill teams at CA-935th, two being ceremonial, and three being exhibition. 
            The Drill Teams squadron is consisted of Armed Fancy Drill Team (AFDT), Unarmed Fancy Drill Team (UFDT), 
            Saber Fancy Drill Team (SFDT), Color Guard, and Flag Detail, all led by the Teams Commander, 
            c/Capt Angie Dinh. Every team is involved in various ways, Color Guard presenting the colors at 
            varsity football games at Scripps Ranch High School, local performances by exhibition teams, 
            and reveille and retreat being covered by the Flag Detail team. Drill Teams at Ca-935th are also 
            sent to several competitions every year, such as the Golden Bear West Coast Nationals hosted by 
            North High School being one of many.
            <br>
            <br> Have questions about our drill teams? Contact c/Capt Angie Dinh via email at
            <a href="mailto:adinh726@gmail.com">adinh726@gmail.com</a>

        </p>
        <p>Below are some of our proudest achievements during the 2023-2024 School Year:</p>
            <p class="about_center">
                <b>Best Drilled Platoon: 1st Place<br>
                   Best Drilled Squadron: 1st Place<br>
                   Armed Exhibition (Fontana): 1st<br> 
                   Armed Regulation (Fontana): 1st<br> 
                   Saber Armed Overall (Fontana): 1st<br>
                   Armed Novice Exhibition (Golden Bear): 1st<br>
                   Armed Novice Sweepstakes (Golden Bear): 1st<br>
                   Saber Regulation (Golden Bear): 1st<br>
                   Saber Exhibition (Golden Bear): 1st<br> 
                   Saber Sweepstakes (Golden Bear): 1st<br>
                   Unarmed Full team (Brigade Exhibition): 1st<br>
    </center>
</div>
</div>
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/seniorstaff/dela Cruz, Silas.jpg" | prepend: site.baseurl }}" alt="">
                <div class="he-view">
                    <!-- <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in armedmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->-->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>Silas dela Cruz</h4>
            <h5 class="ctitle">Teams Commander</h5>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
    </div>
</div>
