---
layout: default
title: Teams
permalink: /teams/
---

{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <center><img class="img-responsive" src="{{ "/assets/img/teams/squadron.jpg" | prepend: site.baseurl }}" alt=""></center>
    </div>
</div><! --/row -->
<div class="container mtb"
	<div class="row">
			<center><p>Here at CA-935th, there are a total of five drill teams.  Armed Fancy Drill Team (AFDT), Unarmed Fancy Drill Team (AFDT), Saber Fancy Drill Team (SFDT), Color Guard, and Flag Detail (a subunit of Color Guard) make up the Drill Teams squadron led by c/Captain Anton Phan.

What distinguishes each team from one another is the type of drill they specialize in.  For instance, Color Guard (one of the two ceremonious drill teams), presents the colors at special events and doesn’t perform tricks with their rifles unlike AFDT.  Regardless of the different drill regulations per team, each team gets a chance to represent the best of CA-935th and compete in a plethora of drill competitions throughout the school year.
<br><br>
Have questions about our drill teams?
Contact c/Captain Anton Phan via email
<a href="mailto:tondroid@gmail.com">tondroid@gmail.com</a>



</p></center>
    </div>
	</div>
</div><! --/container -->
<div class="container mtb">
    <div class="row centered">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/seniorstaff/anton.jpg" | prepend: site.baseurl }}" alt="">
                <div class="he-view">
                    <!-- <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in armedmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg --> -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <h4>Anton Phan</h4>
            <h5 class="ctitle">Teams Commander</h5>
            <div class="hline"></div>
            <br>
        </div><! --/col-lg-3 -->
    </div>
</div>
