---
layout: default
title: Teams
permalink: /teams/
---

{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <center><img class="img-responsive" src="{{ "/assets/img/teams/squadron.jpg" | prepend: site.baseurl }}" alt=""></center>
    </div>
</div><! --/row -->
<div class="container mtb"
	<div class="row">
			<center><p>Teams exposition will be here shortly.</p></center>
    </div>
	</div>
</div><! --/container -->
<div class="container mtb">
    <div class="row centered">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/seniorstaff/anton.jpg" | prepend: site.baseurl }}" alt="">
                <div class="he-view">
                    <!-- <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in armedmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg --> -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>Anton Phan</h4>
            <h5 class="ctitle">Teams Commander</h5>
            <div class="hline"></div>
            <br>
        </div><! --/col-lg-3 -->	 	
    </div>
</div>
