---
layout: default
title: Unarmed Fancy Drill Team
permalink: /teams/ufdt/
---
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/teams/unarmed/2024 UnArmed Team.jpg" | prepend: site.baseurl }}" alt="Unarmed Team Full Picture">
        </div>
        <div class="col-lg-6">
            <p> Unarmed is all about sharpness and synchronization. We utilize slapping and stomping to create a variety of moves. We have nearly sixty moves that we put together
                in unique formations to create routines for various events and competitions. Unarmed not only has distinctive moves, but also friendly members who are dedicated 
                to our team and its success. This year, our team is led by c/2d Lt Katherine Kwon, and c/TSgt Ryan Mansour. The team does not possess weapons, but that doesn’t make 
                it any less impressive. All the hard work that is put in pays off in victory and fun! </p>
            <p>Below are some of our proudest achievements during the 2024-2025 School Year:</p>
            <p class="about_center">
                <b>Unarmed Regulation (Sweetwater): 1st Place<br>
                   Unarmed Sweepstakes (Sweetwater): 1st Place<br>
                   Unarmed Regulation (Brigade 5-Stage): 1st Place<br>
                   Unarmed Inspection (Golden Bear): 3rd Place<br>
                   Unarmed Dual (Golden Bear): 2nd Place<br>
                   Unarmed 4 Man (Golden Bear): 1st Place <br>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for unarmedmember in site.unarmedmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/unarmed/" | prepend: site.baseurl }}{{ unarmedmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in unarmedmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ unarmedmember.name }}</h4>
            <h5 class="ctitle">{{ unarmedmember.position }}</h5>
            <p>{{ unarmedmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
