---
layout: default
title: Unarmed Fancy Drill Team
permalink: /teams/ufdt/
---
{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/teams/unarmed/Unarmed 1920.jpg" | prepend: site.baseurl }}" alt="Unarmed Team Full Picture">
        </div>
        <div class="col-lg-6">
            <p>Unarmed Fancy Drill Team is a complex drill team that consists of cadets using mainly their hands and feet to
                create unique sounds through stomps and slaps. Members of the team do not use any weapons or flags (hence
                the name Unarmed). However this doesn't stop them from being intense throughout the school year of competitions.
                Our Unarmed team has currently been awarded the best Unarmed Fancy Drill Team in the San Diego Unified School
                District as it has been for the past three years. As for the 2020-2021 school year, the team will be led by
                c/2d Lt. Rachelle Soriano and c/TSgt Christopher Villalobos. We hope to see you on our team! </p>
            <p>Below are some of our proudest achievements during the 2018-2019 School Year:</p>
            <p class="about_center">
                <b>Brigade Four Man: 2nd Place</br>
                    Brigade Unarmed Exhibition Full Team: 1st Place</br>
                    SCIDM Unarmed Full Team: 1st Place</br>
                    Sweetwater Inspection/Drill/Exhibition: 1st Place</br>
                    Golden Bear Novice Sweepstakes</br>

        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for unarmedmember in site.unarmedmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/teams/unarmed/" | prepend: site.baseurl }}{{ unarmedmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in unarmedmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ unarmedmember.name }}</h4>
            <h5 class="ctitle">{{ unarmedmember.position }}</h5>
            <p>{{ unarmedmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
