---
layout: default
title: Youth Physical Fitness
permalink: /ypf/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/teams/ypf/ypf 24-25.JPG" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>Youth Physical Fitness (YPF) is a competition that challenges an individual's physical prowess, as well as their ability to work in a team. It consists of a male and female
                team with 6 members each (including an alternate) from all the schools in the SDUSD Brigade. The events are the 20 meter crab walk, basketball throw, power throw, and a 400 
                meter relay race. The schools will compete against one another to score the most points at the competition to win 1st place.<p>
                
                <p>Raiders is a competitive team specializing in military-style 
                athletic training. Teamwork, endurance, agility, strength, and cognitive skills can be evaluated through timed obstacle courses, runs, knot tying, and first-aid scenarios. 
                Additionally, cadets receive archery training to compete in JROTC Archery League competitions. All competitions are held at the Brigade, regional, and national levels. Participation 
                in Raiders fosters cadets’ communication ability, athleticism, dedication, and competitive spirit. This year, YPF and Raiders is led by c/2d Lt Gael Perez, c/2d Lt Matthew Tran, and c/TSgt Olivia Liu.<p>
            <p>Below are some of our proudest achievements during the 2024-2025 School Year:</p>
            <p class="about_center">
                <b>Youth Physical Fitness 2024-2025 Team Placings (March 24th, 2024) </br>
                    Youth Physical Fitness Women’s Team (Brigade): 1st Place </br>
                    Youth Physical Fitness Men’s Team (Brigade): 2st Place</br>
                    Youth Physical Fitness Overall (Brigade): 2st Place</br>
              
                </br>MCRD Bootcamp Challenge Team Placings (JROTC ranking)</br>
                    Male Team #1: 4st place </br>
                    Male Team #2: 6th place </br>
                   Female Team #3: 7th place </br>
</b>
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for ypfmember in site.ypfmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/extracurriculars/ypf/" | prepend: site.baseurl }}{{ ypfmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in ypfmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ ypfmember.name }}</h4>
            <h5 class="ctitle">{{ ypfmember.position }}</h5>
            <p>{{ ypfmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
