---
layout: default
title: Youth Physical Fitness
permalink: /ypf/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/extracurriculars/ypf/YPF2024.JPG" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>Youth Physical Fitness (YPF) is a competition that challenges an individual's physical prowess, as well as their ability to work in a team. It consists of a male and female
                team with 6 members each (including an alternate) from all the schools in the SDUSD Brigade. The events are the 20 meter crab walk, basketball throw, power throw, and a 400 
                meter relay race. The schools will compete against one another to score the most points at the competition to win 1st place. This year, YPF is led by c/2d Lt Tiendat 
                Banh, and c/TSgt Gael Perez.</p>
            <p>Below are some of our proudest achievements during the 2023-2024 School Year:</p>
            <p class="about_center">
                <b>Youth Physical Fitness 2023-2024 Team Placings (March 24th, 2024) </br>
                    Youth Physical Fitness Women’s Team (Brigade): 1st Place </br>
                    Youth Physical Fitness Men’s Team (Brigade): 1st Place</br>
                    Youth Physical Fitness Overall (Brigade): 1st Place</br>
                </br>Physical Fitness Champion (Brigade)</br>
                    (Female): Evangeline Bennett (2022-2023, 2023-2024)</br>
                </br>MCRD Bootcamp Challenge Team Placings (JROTC ranking)</br>
                    Team 1: 1st place (JJ O’Connell, Nicholas Bai, Cameron Kim)</br>
                    Team 2: 4th place (Vincent Sanchez, Jonathan Jiang, Sean Anthony)</br>
                    Team 3: 6th place (Ryan Mansour, Gael Perez, Tiendat Banh)</br>
</b>
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for ypfmember in site.ypfmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/extracurriculars/ypf/" | prepend: site.baseurl }}{{ ypfmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in ypfmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ ypfmember.name }}</h4>
            <h5 class="ctitle">{{ ypfmember.position }}</h5>
            <p>{{ ypfmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
