---
layout: default
title: Youth Physical Fitness
permalink: /ypf/
---
{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/extracurriculars/ypf/ypffull.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <p>YPF is a competition that challenges an individual's strengths, as well as working as a team. It consists of
                5 females and 5 males (with an alternate for each) from each school in the SDUSD brigade. The events are
                push-ups, sit-ups, basketball throw, and the relay race (each person running 400m). Push-ups and sit-ups
                have time limit of 2 min. The school that ends up with the most points (Male & Female) gets 1st.</p>
            <p>Below are some of our proudest achievements during the 2017-2018 School Year:</p>
            <p class="about_center">
                <b>Youth Physical Fitness Women’s Team (Brigade): 1st Place</br>
                    Youth Physical Fitness Men’s Team (Brigade): 3rd Place</br>
                    Youth Physical Fitness Overall (Brigade): 1st Place</b>
            </p>
        </div>
    </div>
    <! --/row -->
</div>
<! --/container -->
<div class="container mtb">
    <div class="row centered">
        {% for ypfmember in site.ypfmembers %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img src="{{ "/assets/img/extracurriculars/ypf/" | prepend: site.baseurl }}{{ ypfmember.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Links:</h3>
                        {% for entry in ypfmember.social %}
                        <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp">
                            <i class="fa fa-{{ entry.title }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                    <!-- he bg -->
                </div>
                <!-- he view -->
            </div>
            <!-- he wrap -->
            <h4>{{ ypfmember.name }}</h4>
            <h5 class="ctitle">{{ ypfmember.position }}</h5>
            <p>{{ ypfmember.text }}</p>
            <div class="hline"></div>
            <br>
        </div>
        <! --/col-lg-3 -->
        {% endfor %}
    </div>
</div>
