<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}"><img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" style="height:30px; width:35px; margin-top:-5px;"/></a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li {% if page.title == "About" %}class="active"{% endif %}><a>ABOUT US</a>
          <ul>
            <a class="dropdown_link" href="{{"/about/" | prepend: site.baseurl }}"><li {% if page.title == "About" %}class="active"{% endif %}>About Our Corps</li></a>
            <a class="dropdown_link" href="{{"/about/sasi/" | prepend: site.baseurl }}"><li {% if page.title == "SASI" %}class="active"{% endif %}>SASI</li></a>
            <a class="dropdown_link" href="{{"/about/asi/" | prepend: site.baseurl }}"><li {% if page.title == "ASI" %}class="active"{% endif %}>ASI</li></a>
            <a class="dropdown_link" href="{{"/about/gpcommander/" | prepend: site.baseurl }}"><li {% if page.title == "Group Commander" %}class="active"{% endif %}>Group Commander</li></a>
            <a class="dropdown_link" href="{{"/seniorstaff/" | prepend: site.baseurl }}"><li {% if page.title == "Senior Staff" %}class="active"{% endif %}>Senior Staff</li></a>
            <a class="dropdown_link" href="{{"/about/chainofcommand/" | prepend: site.baseurl }}"><li {% if page.title == "Chain of Command" %}class="active"{% endif %}>Chain of Command</li></a>
            <a class="dropdown_link" href="{{"/contact/" | prepend: site.baseurl }}"><li {% if page.title == "Contact Us" %}class="active"{% endif %}>Contact Us</li></a>
          </ul>
        </li>
        <li {% if page.title == "Update" %}class="active"{% endif %}><a>UPDATES</a>   
          <ul>
            <a class="dropdown_link" href="{{"/updates/" | prepend: site.baseurl }}"><li {% if page.title == "Updates" %}class="active"{% endif %}>Posts</li></a>
            <a class="dropdown_link" href="{{"/calendar/" | prepend: site.baseurl }}"><li {% if page.title == "Calendar" %}class="active"{% endif %}>Calendar</li></a>
          </ul>
        </li>
        <li {% if page.title == "Parents" %}class="active"{% endif %}><a href="{{"/parents/" | prepend: site.baseurl }}">PARENTS</a></li>
        <li {% if page.title == "Gallery" %}class="active"{% endif %}><a href="{{"/gallery/" | prepend: site.baseurl }}">GALLERY</a></li>
        <li {% if page.title == "FLIGHTS" %}class="active"{% endif %}><a>FLIGHTS</a>
        <ul>
            <a class="dropdown_link" href="{{"/alpha/" | prepend: site.baseurl }}"><li {% if page.title == "Alpha Flight" %}class="active"{% endif %}>Alpha Flight</li></a>
            <a class="dropdown_link" href="{{"/bravo/" | prepend: site.baseurl }}"><li {% if page.title == "Bravo Flight" %}class="active"{% endif %}>Bravo Flight</li></a>
            <a class="dropdown_link" href="{{"/charlie/" | prepend: site.baseurl }}"><li {% if page.title == "Charlie Flight" %}class="active"{% endif %}>Charlie Flight</li></a>
            <a class="dropdown_link" href="{{"/delta/" | prepend: site.baseurl }}"><li {% if page.title == "Delta Flight" %}class="active"{% endif %}>Delta Flight</li></a>
            <a class="dropdown_link" href="{{"/echo/" | prepend: site.baseurl }}"><li {% if page.title == "Echo Flight" %}class="active"{% endif %}>Echo Flight</li></a>
            <a class="dropdown_link" href="{{"/foxtrot/" | prepend: site.baseurl }}"><li {% if page.title == "Foxtrot Flight" %}class="active"{% endif %}>Foxtrot Flight</li></a>
            <a class="dropdown_link" href="{{"/golf/" | prepend: site.baseurl }}"><li {% if page.title == "Golf Flight" %}class="active"{% endif %}>Golf Flight</li></a>
         </ul>
        </li>
        <li {% if page.title == "Extracurriculars" %}class="active"{% endif %}><a>EXTRACURRICULARS</a>
          <ul>
            <a class="dropdown_link" href="{{"/teams/" | prepend: site.baseurl }}"><li {% if page.title == "Teams" %}class="active"{% endif %}>Teams</li></a>
            <a class="dropdown_link" href="{{"/teamcalendar/" | prepend: site.baseurl }}"><li {% if page.title == "Teams Calendar" %}class="active"{% endif %}>Teams Calendar</li></a>
          </ul>
	    <a class="dropdown_link" href="{{"/teams/afdt/" | prepend: site.baseurl }}"><li style="padding-left:25px;" {% if page.title == "Armed Fancy Drill Team" %}class="active"{% endif %}>AFDT</li></a>
            <a class="dropdown_link" href="{{"/teams/ufdt/" | prepend: site.baseurl }}"><li style="padding-left:25px;" {% if page.title == "Unarmed Fancy Drill Team" %}class="active"{% endif %}>UFDT</li></a>
            <a class="dropdown_link" href="{{"/teams/sfdt/" | prepend: site.baseurl }}"><li style="padding-left:25px;" {% if page.title == "Saber Fancy Drill Team" %}class="active"{% endif %}>SFDT</li></a>
            <a class="dropdown_link" href="{{"/teams/cg/" | prepend: site.baseurl }}"><li style="padding-left:25px;" {% if page.title == "Color Guard" %}class="active"{% endif %}>Color Guard</li></a>
            <a class="dropdown_link" href="{{"/teams/flagdetail/" | prepend: site.baseurl }}"><li style="padding-left:25px;" {% if page.title == "Flag Detail" %}class="active"{% endif %}>Flag Detail</li></a>
            <a class="dropdown_link" href="{{"/teams/academic/" | prepend: site.baseurl }}"><li {% if page.title == "Academic" %}class="active"{% endif %}>Academic</li></a>
			<a class="dropdown_link" href="{{"/stellar/" | prepend: site.baseurl }}"><li {% if page.title == "STELLAR" %}class="active"{% endif %}>StellarXplorers</li></a>
            <a class="dropdown_link" href="{{"/kittyhawk/" | prepend: site.baseurl }}"><li {% if page.title == "Kitty Hawk" %}class="active"{% endif %}>Kitty Hawk</li></a>
			<a class="dropdown_link" href="{{"/education/" | prepend: site.baseurl }}"><li {% if page.title == "EDUCATION" %}class="active"{% endif %}>Education</li></a>			
            <a class="dropdown_link" href="{{"/cyberpatriot/" | prepend: site.baseurl }}"><li {% if page.title == "CyberPatriot" %}class="active"{% endif %}>CyberPatriot</li></a>
            <a class="dropdown_link" href="{{"/ypf/" | prepend: site.baseurl }}"><li {% if page.title == "YPF" %}class="active"{% endif %}>YPF</li></a>
            <a class="dropdown_link" href="{{"/apt/" | prepend: site.baseurl }}"><li {% if page.title == "APT" %}class="active"{% endif %}>APT</li></a>
          </ul>
        </li>
        <li {% if page.title == "FILES" %}class="active"{% endif %}><a>FILES</a>
          <ul>
            <a class="dropdown_link" href="{{"/files/" | prepend: site.baseurl }}"><li {% if page.title == "FILES" %}class="active"{% endif %}>Files and Syllabi</li></a>
            <a class="dropdown_link" href="{{"/newsletters/" | prepend: site.baseurl }}"><li {% if page.title == "Newsletters" %}class="active"{% endif %}>Newsletters and Videos</li></a>

             </li>
            
    <ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
