---
layout: post
published: true
---
Our Cyberpatriot team recently qualified for the SoCal Cyber Cup Challenge Finals! Be sure to congratulate them if you talk to them![certificate.PNG]({{site.baseurl}}/media/certificate.PNG)
