---
layout: post
published: true
---
[Here](https://docs.google.com/document/d/1sqrDKqw8oIod9HaEa3DJczS1dK05DDZEQMPaOIlEGNA/edit?usp=sharing) are the Q3 Cycle 3 Promotees!
